In [ ]:
import pandas as pd 
import tensorflow as tf
import numpy as np
from tensorflow import keras 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
df = pd.read_csv("/content/healthcare-dataset-stroke-data.csv")
df.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [ ]:
df.drop(columns=['id','ever_married','work_type','Residence_type','smoking_status'], inplace=True)
df.head()

   gender   age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0    Male  67.0             0              1             228.69  36.6       1
1  Female  61.0             0              0             202.21   NaN       1
2    Male  80.0             0              1             105.92  32.5       1
3  Female  49.0             0              0             171.23  34.4       1
4  Female  79.0             1              0             174.12  24.0       1

In [ ]:
input= df.drop(columns=['stroke','gender','bmi']) 

input['avg_glucose_level'].unique()
input

       age  hypertension  heart_disease  avg_glucose_level
0     67.0             0              1             228.69
1     61.0             0              0             202.21
2     80.0             0              1             105.92
3     49.0             0              0             171.23
4     79.0             1              0             174.12
...    ...           ...            ...                ...
5105  80.0             1              0              83.75
5106  81.0             0              0             125.20
5107  35.0             0              0              82.99
5108  51.0             0              0             166.29
5109  44.0             0              0              85.28

[5110 rows x 4 columns]

In [ ]:
output= df['stroke']
output

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [ ]:
#input_train, input_test , output_train, output_test = train_test_split(input,output, test_size= 0.2)

model = DecisionTreeClassifier()
model.fit(input,output)
prediction = model.predict([[80,1,1,150]])
#score = accuracy_score(output_test,prediction)
#score # after training = 98%
#for i in prediction:
if prediction == 0:
  print('not at risk')
else:
  print('risk')

not at risk